// $navBackgroundColor: rgb(45, 62, 109);
// $navHighlightColor: #0384b8;
// $navTextColor: rgb(167, 174, 179);
$navBackgroundColor: rgb(45, 62, 109);
$navHighlightColor: rgb(62, 164, 238);
$navTextColor: lighten(desaturate(adjust-hue($navHighlightColor, 20), 50.7), 10.2);

nav.nav {
    // display: flex;
    // flex-direction: row;
    // display: grid;
    // grid-template-rows: repeat(auto);
    // justify-content: space-around;
    // align-items: center;
    width: 100%;
}

nav.nav#nav-top {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    position: sticky; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 300ms; /* Transition effect when sliding down (and up) */
    background-color: $navBackgroundColor;
    color: $navTextColor !important;
}

nav.nav#nav-top button.nav-top-left-menu-button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    outline: none;
    background: none;
    padding: 0 1rem;
    align-self: start;
    // color: rgb(167, 174, 179) !important;
    color: $navHighlightColor !important;
}

nav.nav#nav-top .nav-top-main-title {
    align-self: center;
    margin: 0 auto;
    // font-size: 1rem;
}

#main-content {
    // top: 60px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

nav.nav#nav-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    background-color: $navBackgroundColor;
    color: #fff;
    z-index: 10;
}

nav.nav#nav-bottom a {
    // border: 1px dashed #000;
    border-top: 1px solid rgba(92, 97, 134, 0.945);
    width: 100%;
    text-align: center;
}

nav.nav#nav-bottom a div {
    display: inline-block;
    text-align: center;
    padding: 0.5rem;
    padding-top: 1.5rem;
    // width: 3.5rem;
    width: 2.5rem;
}

.menu-icons {
    // fill: rgb(113, 157, 187) !important;
    fill: $navTextColor !important;
}

.menu-icons.active {
    // background-color: #3c59a9;
    fill: $navHighlightColor !important;
}
